@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Host Grotesk, sans-serif;
}

:root, #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

