html {
    font-size: 1.4rem;

    @media(max-width: 600px) {
        font-size: 1.3rem;
    }
}

body {
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

* {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}

:root {
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 12rem;

    --bg-color: #03010E;
    --bg3-color: #100e1d;
    --bg2-color: #6A6A88;
    --background: #3a3362;

    --opacity: 0.07;
    --border-radius: 0.4rem;
    --border-radius-s: 0.3rem;

    --primary-color: #665c84;
    --secondary-color: #a3a1c5; /*title color*/
    --accent-color: #8a7cb5;
    --text-color: #DFDEF9;
    --description-color: #c6c5dd;
}


:root, #root, body {
    margin: 0;
    color: var(--text-color);
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-y: none; /* for overscrolling on mobile */
}
